forge-1.12.2-14.23.5.2768-mdk/.gradle
forge-1.12.2-14.23.5.2768-mdk/eclipse
mcp/.gradle
mcp/.idea
mcp/build/sources
mcp/build/taskLogs
mcp/build/tmp
mcp/run/logs
mcp/run/mods
mcp/run/resourcepacks
mcp/run/saves
.idea
